# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
build
# don't lint nyc coverage output
coverage

.eslintrc.cjs

active

old

static

wordlists

manual



.eslintignore
.prettierignore
.prettierrc.js

package.json

.*
*.d.ts

config
@types
logs
*.cjs
ecosystem.config.*
jest*
nodemon.json
*.json
*.md



__tests__ 
*.test.js 
*test.ts
## TODO(#1): change that
apate-discord.js/


libs/
.tscache
active/

.prettierignore
.prettierrc.js
package.json
package-lock.json
*.md
.vscode
node_modules
.github
.eslintignore
.eslintrc.js
.eslintcache